.calculadora{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
    
}

.btn {
    width: 5em;
    height: 5em;
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    font-weight: 700;
    margin: 2px;
}

.border {
    background-color: rgb(211, 211, 211);
    border: 2px solid black;
}

.painel {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 4em;
    color: black;
    background-color: rgb(211, 211, 211);
    padding: 15px;
    font-size: 1.5em;
    border: 2px solid black;
    margin-bottom: 2px;
}


